h1 {
	font-size: 1.5em;
	font-weight: bold;
	color: green;
}

h1, h2, h3 {
	font-weight: bold;
	color: green;
}

/*this is a footer*/
#copyright{
	color: gray;
	font-style: italic;
	text-align: center;
}

body {
  background-image: url('images/Prion_Terraces_new.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: left 0px top 0px; 
}

#content_container{
	width: 80%;
	background-color: #EBEBEB;
  	margin: 0 auto;
  	padding: 0;
  	text-align: left;
}

#header{
	background-color: #91A43D;
	text-align: center;
	margin: 0;
	padding: 0;
}

#sidebar{
	float: left;
	width: 12em;
}

#mainContent{
	background-color: #FFFFFF;
	margin-left: 12em;
	padding: 10px 20px 0 1em;
}

#footer p {
	margin: 0;
	padding: 10px 0;
	background-color: #DDDDDD;
	text-align: center;
	font-size: .8em;
}
.clearfloat {
	clear: both;
	height: 0;
	font-size: 1px;
}